{% extends "base.html" %}

{% block title %}Registros{% endblock %}

{% block head %}
    {{ super() }}
    <style>
      body {
          min-height: 75rem;
          padding-top: 4.5rem;
      }
    </style>
{% endblock %}

{% block content %}
    <h1 class="mt-4">Logs PL2</h1>

    {% if pixel_counts %}
        <table class="table table-striped table-bordered mt-4">
            <thead class="table-light">
                <tr>
                    <th>ID</th>
                    <th>Usuario</th>
                    <th>Fecha y Hora</th>
                    <th>Nombre del Fichero</th>
                    <th>Pixeles (RGB)</th>
                </tr>
            </thead>
            <tbody>
              {% for p in pixel_counts %}
                <tr>
                    <td>{{ p.id }}</td>
                    <td>{{ p.usuario }}</td>
                    <td>{{ p.timestamp.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                    <td>{{ p.fichero }}</td>
                    <td>
                        Rojo: {{ p.pixeles['rojo'] }},
                        Verde: {{ p.pixeles['verde'] }},
                        Azul: {{ p.pixeles['azul'] }}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay datos de PixelCount aún.</p>
    {% endif %}
{% endblock %}
